.App-header {
  padding: 10px 100px 0px 100px;
  background:linear-gradient(to right, rgb(235, 110, 110), rgb(241, 76, 76));
  height:  100px;
  display: flex;
}
.imagen-header{
  padding: 0px 375px 80px 10px;
}
.header{
  color: white;
  float: right;
  font-size: 20px;
  padding: 30px 0px 80px 275px;
  text-align: right;
}

.App-link {
  color: #61dafb;
}
.botonheader{

  font-size: 20px;
  background: transparent;
  border: transparent;
}
a {
  color: white;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}